* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  text-align: center;
  margin-top: 20px;
  color: #333;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}
.card {
  margin: 0 auto;
  max-width: 350px;
  font-size: 0;
  text-align: center;
  margin-top: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.card:hover {
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2);
}
.calc-head #result {
  width: 350px;
  height: 100px;
  font-size: 20px;
  font-weight: bold;
  text-align: right;
  padding: 0 5px;
  letter-spacing: 2px;
}

.btn {
  width: 87px;
  height: 70px;
  font-size: 16px;
  font-weight: bold;
  background-color: #1f2321;
  color: white;
}
.btn-style {
  background-color: #5f4bb6;
}
